/* stylelint-disable selector-class-pattern */
@import '/src/assets/theme/constants.scss';

.infiniteScrollCarouselWrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1080px;
  .scrollContent,
  .carouselItemsWrapper {
    gap: 60px;
  }
  .itemWrapper {
    gap: 12px;
    .name {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .displayNone {
    display: none;
  }
  @media screen and (max-width: #{$content-width-large-desktop - 1}) {
    margin: 0 20px;
  }
  @media screen and (max-width: $divide-991) {
    margin: 0 auto;
  }
}
